<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="container">
      <h1>Nature Adventures</h1>
      <nav>
        <ul>
          <li><a href="{% url 'ocean'%}">Oceans</a></li>
          <li><a href="#section2">Wild Animals</a></li>
          <li style="margin-left: 60%">
            <a href="">Welcome {{user.username}}</a>
          </li>
          <ul>
            <li><a href="{% url 'home'%}">Logout</a></li>
          </ul>
        </ul>
      </nav>

      <div class="CARDS">
        <div class="cards1">
          <div class="card" style="width: 18rem">
            <img
              src="https://img.freepik.com/free-photo/wide-shot-baby-giraffe-near-its-mother-two-zebras-with-green-trees_181624-16496.jpg?w=1380"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Giraffe</h5>
              <p class="card-text">
                The giraffe is a tall African hoofed mammal belonging to the
                genus Giraffa. It is the tallest living terrestrial animal and
                the largest ruminant on Earth.
              </p>
              <a href="#" class="btn btn-success">Comment</a>
              <a href="#" class="btn btn-primary" id="clickme">Like</a>
              <a href="#" class="btn btn-danger" id="dislike">Dislike</a>
            </div>
          </div>
          <div class="card" id="card1" style="width: 18rem">
            <img
              src="https://img.freepik.com/free-photo/beautiful-cheetahs-among-plants-middle-desert_181624-6329.jpg?w=900"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Cheetah</h5>
              <p class="card-text">
                The cheetah is a lightly built, spotted cat characterised by a
                small rounded head, a short snout, black tear-like facial
                streaks, a deep chest, long thin legs.
              </p>
              <a href="#" class="btn btn-success">Comment</a>
              <a href="#" class="btn btn-primary" id="clickme1">Like</a>
              <a href="#" class="btn btn-danger" id="dislike1">Dislike</a>
            </div>
          </div>
          <div class="card" id="card2" style="width: 18rem">
            <img
              src="https://img.freepik.com/free-photo/closeup-brown-bear-rocks_181624-56243.jpg?w=900"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Bear</h5>
              <p class="card-text">
                Bears are carnivoran mammals of the family Ursidae. They are
                classified as caniforms, or doglike carnivorans.
              </p>
              <a href="#" class="btn btn-success">Comment</a>
              <a href="#" class="btn btn-primary" id="clickme2">Like</a>
              <a href="#" class="btn btn-danger" id="dislike2">Dislike</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var button = document.getElementById("clickme"),
    count = 0;
  button.onclick = function () {
    count++;
    button.innerHTML = "Like " + count;
  };

  var button1 = document.getElementById("clickme1"),
    count1 = 0;
  button1.onclick = function () {
    count1++;
    button1.innerHTML = "Like " + count1;
  };

  var button2 = document.getElementById("clickme2"),
    count2 = 0;
  button2.onclick = function () {
    count2++;
    button2.innerHTML = "Like " + count2;
  };

  var dislike = document.getElementById("dislike"),
    counter = 0;
  dislike.onclick = function () {
    counter += 1;
    dislike.innerHTML = "Dislike " + counter;
  };

  var dislike1 = document.getElementById("dislike1"),
    counter1 = 0;
  dislike1.onclick = function () {
    counter1 += 1;
    dislike1.innerHTML = "Dislike " + counter1;
  };

  var dislike2 = document.getElementById("dislike2"),
    counter2 = 0;
  dislike2.onclick = function () {
    counter2 += 1;
    dislike2.innerHTML = "Dislike " + counter2;
  };
</script>
<style>
  #card1 {
    margin-left: 130%;
    position: absolute;
    top: 1%;
  }

  #card2 {
    margin-left: 260%;
    position: absolute;
    top: 0%;
  }
  .cards1 {
    dislay: flex !important;
    top: 18%;
    position: absolute;
    align-content: center;
  }

  .CARDS {
    dislay: flex !important;
  }
  h1 {
    text-align: center;
  }
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  nav {
    background: red;
    position: fixed;
    width: 100%;
    height: 12%;
    border-radius: 10px;
  }

  nav ul ul li {
    float: right;
    margin-left: 7%;
  }

  ul li a {
    text-decoration: none;
  }
</style>
